POSTGRES_DB=deployintel
POSTGRES_USER=deployintel
POSTGRES_PASSWORD=your_secure_password_here

DB_HOST=localhost
DB_PORT=5432

# GitHub OAuth2
GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_client_secret
FRONTEND_REDIRECT_URI=http://localhost:3000/oauth2/redirect